tr.clickable-row {
    cursor: pointer;
}
tr.clickable-row:hover {
    background: #f8f9fc;
    color: #2c2f7c;
}

.card-row {
    background: #ffffff;
    padding: 15px 10px;
    border-radius: 8px;
    margin: 10px 0px;
}
h5.title{
    font-size: 18px;
    font-weight: 600;
}

p.label {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666666;
    font-weight: 800;
}
#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #E2BD3B;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
