tr.clickable-row {
    cursor: pointer;
}
tr.clickable-row:hover {
    background: #f8f9fc;
    color: #2c2f7c;
}

.card-row {
    background: #ffffff;
    padding: 15px 10px;
    border-radius: 8px;
    margin: 10px 0px;
}
h5.title{
    font-size: 18px;
    font-weight: 600;
}

p.label {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666666;
    font-weight: 800;
}